﻿
input.readonly {
    background-color: white !important;
}

textarea.readonly {
    background-color: white !important;
}

td.highlight {
    background: yellow !important;
}

input, textarea,
.input-group {
    max-width: 90%;
}

textarea {
    resize: none;
}