﻿
@{
    ViewBag.Title = "AddItem";
}

<h2>Add an Item:</h2>

@using (Html.BeginForm("AddItem", "Main", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Date</span>
            <input name="date" type="text" id="datepicker" class="form-control" placeholder="Due Date" aria-label="Due Date" aria-describedby="basic-addon1" required>
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon2">Name</span>
            <input name="name" type="text" id="itemname" class="form-control" placeholder="Item Name" aria-label="Item Name" aria-describedby="basic-addon2" required>
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon3">Details</span>
            <textarea name="details" type="text" id="itemdetails" class="form-control" rows="3" placeholder="Item Details" aria-label="Item Details" aria-describedby="basic-addon3" required></textarea>
        </div>
    </p>

    <p>
        <input id="additem" type="submit" value="AddItem"/>
    </p>
}

