﻿@model ToDoList.Models.ToDoItem

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<h3>@Model.name</h3>
<h5>Are you sure?</h5>
<br />

@using (Html.BeginForm("Delete", "Main", FormMethod.Post, new { id = "delForm" }))
{
    @Html.HiddenFor(m => m.name)
    <input type="submit" value="Delete" />
}