﻿@using ToDoList.Models

@{
    ViewBag.Title = "Index";
}

<h2>ToDoList Items:</h2>

<p>
    <table class="table table-hover" id="ToDoTable">
        <thead>
            <tr>
                <th scope="col" onclick="sortTable(0, 'checkbox')">Done</th>
                <th scope="col" onclick="sortTable(1, 'date')">Due Date</th>
                <th scope="col" onclick="sortTable(2, 'text')">Item Name</th>
                <th scope="col">Manage</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ToDoItem item in Model)
            {
                <tr>
                    <td class="itemDone">
                        @Html.CheckBoxFor(Model => item.done, new { @class = "checkBox", @data_url = @Url.Action("CheckBox", "Main", new { name = item.name }) })                          
                    </td>
                    <td class="itemDate">@item.date.ToShortDateString()</td>
                    <td class="itemName">@item.name</td>
                    <td>
                        <button class="btn btn-danger btn-sm" onclick="location.href='@Url.Action("Delete", "Main", new { name = item.name })'">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        <button class="btn btn-warning btn-sm" onclick="location.href='@Url.Action("Update", "Main", new { name = item.name })'">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button class="btn btn-info btn-sm" onclick="location.href='@Url.Action("Info", "Main", new { name = item.name })'">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>


</p>


@*<input type="checkbox" class="checkBox" data-url='@Url.Action("CheckBox", "Main", new { name = item.name })' />*@
@*@Html.ActionLink("Delete", "Delete", "Main", new { name = item.name }, new { @style = "" })*@
@*@onclick = "return confirm('Are you sure')"*@
