﻿
@{
    ViewBag.Title = "Info";
}

<h2>Item Info</h2>

<p>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Date</span>
        <input name="date" type="text" class="form-control readonly" value="@Model.date.ToShortDateString()" aria-label="Due Date" aria-describedby="basic-addon1" readonly>
    </div>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon2">Name</span>
        <input name="name" type="text" id="itemname" class="form-control readonly" value="@Model.name" aria-label="Item Name" aria-describedby="basic-addon2" readonly>
    </div>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon3">Details</span>
        <textarea name="details" type="text" id="itemdetails" class="form-control readonly" rows="3" aria-label="Item Details" aria-describedby="basic-addon3" readonly>@Model.details</textarea>
    </div></p>

