﻿
@{
    ViewBag.Title = "Update";
}

<h2>Update Item:</h2>

@using (Html.BeginForm("Update", "Main", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p>
        <input type="hidden" name="done" value="@Model.done.ToString()" class="form-control" />
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Date</span>
            <input name="date" type="text" id="datepicker" class="form-control" value="@Model.date.ToShortDateString()" aria-label="Due Date" aria-describedby="basic-addon1" required>
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon2">Name</span>
            <input name="name" type="text" id="itemname" class="form-control" value="@Model.name" aria-label="Item Name" aria-describedby="basic-addon2" required>
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon3">Details</span>
            <textarea name="details" type="text" id="itemdetails" class="form-control" rows="3" aria-label="Item Details" aria-describedby="basic-addon3" required>@Model.details</textarea>
        </div>
    </p>

    <p>
        <input id="updateitem" type="submit" value="UpdateItem" />
    </p>
}